main.main {
  border: 2px dotted red;
  padding: 3px;

  display: flex;

  height: 100vh;
  width: 100vw;
}

.tasksSection {
  border: 1px solid #222;
  border-radius: 5px;
  overflow: scroll;
  resize: horizontal;

  min-width: 300px;
  max-width: 50vw;

  background-color: white;
  padding: 5px;
}

.tasksSection__header {
  margin-bottom: 10px;
}

.task {
  display: flex;
  margin-bottom: 10px;
  vertical-align: top;
}

.task:last-child {
  margin-bottom: 0;
}

.task__description {
  flex-grow: 1;
  margin-left: 5px;
  font-size: 0.8em;
}

.opportunitiesSection {
  border: 2px dotted gray;
  overflow: scroll;
}

.opportunitiesSection__header {
  margin-bottom: 10px;
}

.opporunityStatuses {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.opportunityStatusColumn {
  margin-right: 5px;
}
.opportunityStatusColumn:last-child {
  margin-right: 0;
}

.opportunityStatusColumn__header {
  font-size: 1em;
}

.opportunityStatusColumn__stack {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 240px;
}

.opportunityCard {
  margin-bottom: 5px;
  border: 1px solid #222;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}
.opportunityCard:last-child {
  margin-bottom: 0;
}

.opportunityCard__logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #222;
  border-radius: 5px;
}

.opportunityCard__description {
  display: inline-block;
  max-width: 183px;
  vertical-align: top;
  margin-left: 5px;
}

.opportunityCard__name {
  font-weight: bold;
  font-size: 0.8em;
}

.opportunityCard__title {
  font-size: 0.7em;
}
